body,html{padding: 0; margin: 0; font-family: "黑体";font-size: 14px;width: 100%;height: 100%;}
img{border: none;}
h1,h2,h3,h4,h5,h6,hr,blockquote,form,ul,ol,li,p,pre,dl,dt,dd,fieldset,legend,button,input,textarea,th,td{padding: 0;margin: 0;}
ul,ul li{list-style: none;}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 12px;}
legend{color: #000;}
fieldset{border: 0;}
button,input,select,textarea{font-size: 100%; outline: none;}
button{cursor: pointer;}
table{border-collapse: collapse;border-spacing: 0;}
a,a:hover{text-decoration: none;color: #000;}
.pt20{padding-top: 20px;}
.pt50{padding-top: 50px;}
.mt50{margin-top:50px; }
.mt100{margin-top:100px; }
.mt10{margin-top:10px; }
.mt20{margin-top:20px; }
.pt100{padding-top: 100px;}
.pt200{padding-top: 200px;}
.ft18{font-size: 18px;}
.clearfix:after{
content: -".";
display: block;
height: 0;
clear: both;
}
.clearfix{display: inline-table;}
.left{float: left;_displap:inline;}
.right{float: right;}
.tcenter{text-align: center;}
* html .clearfix{height: 1%;}

*,*:after,*:before{-webkit-box-sizing:border-box;}




